# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv',encoding='latin1')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.tail()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
import pylab as plt
from scipy.stats import norm
import pandas as pd

from scipy.stats import ttest_rel  # testeo con dos muestras dependientes

from scipy.stats import ttest_ind  # testeo con dos muestras independientes

In [8]:
hour = salaries['Salary or Hourly'][(salaries['Salary or Hourly'] == 'Hourly')].index

In [9]:
hour

Int64Index([    4,     6,     7,    10,    18,    19,    21,    24,    26,
               33,
            ...
            33149, 33150, 33156, 33158, 33161, 33164, 33168, 33169, 33174,
            33175],
           dtype='int64', length=8022)

In [10]:
salaries.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

In [11]:
hours = salaries.loc[hour][['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Hourly Rate']]

In [12]:
hours.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,46.10
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,25.10
33,"ABRAHAMSON, MICHAEL C",STUDENT INTERN - MAYOR'S FELLOWS,MAYOR'S OFFICE,F,Hourly,35.0,20.00

In [13]:
hours['Hourly Rate'].mean()

32.78855771628128

In [14]:
from scipy.stats import ttest_1samp

In [15]:
t_test=ttest_1samp(hours['Hourly Rate'], 30)

t_test

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [16]:
salaries[(salaries.Department == 'POLICE')&(salaries['Salary or Hourly'])]['Annual Salary'].mean()

86486.41450313339

In [17]:
s2 = list(salaries[(salaries.Department == 'POLICE')&(salaries['Salary or Hourly']=='Salary')]['Annual Salary']) ### IMPORTANTE CONVERTIR A LISTA
s2

[101442.0,
 94122.0,
 93354.0,
 84054.0,
 87006.0,
 84054.0,
 90024.0,
 48078.0,
 76266.0,
 48078.0,
 80016.0,
 72510.0,
 68616.0,
 90024.0,
 48078.0,
 76266.0,
 48078.0,
 72510.0,
 97440.0,
 72510.0,
 87006.0,
 90024.0,
 84054.0,
 87006.0,
 90024.0,
 72510.0,
 87006.0,
 43800.0,
 76266.0,
 84054.0,
 84054.0,
 90024.0,
 100980.0,
 90024.0,
 90024.0,
 90024.0,
 87006.0,
 93354.0,
 93354.0,
 72510.0,
 93354.0,
 50676.0,
 87006.0,
 72510.0,
 90024.0,
 72510.0,
 84054.0,
 94524.0,
 48078.0,
 90024.0,
 100980.0,
 96060.0,
 100776.0,
 87006.0,
 40392.0,
 48078.0,
 68616.0,
 100980.0,
 93354.0,
 48078.0,
 48078.0,
 84054.0,
 76266.0,
 84054.0,
 97440.0,
 90024.0,
 94524.0,
 84054.0,
 111474.0,
 90024.0,
 50676.0,
 96060.0,
 91338.0,
 96060.0,
 111474.0,
 93354.0,
 87006.0,
 96060.0,
 103932.0,
 94524.0,
 111474.0,
 87006.0,
 84054.0,
 84054.0,
 104628.0,
 90024.0,
 48078.0,
 87006.0,
 76266.0,
 90024.0,
 80016.0,
 88296.0,
 96060.0,
 87006.0,
 90024.0,
 84054.0,
 84054.0,
 103932.0,
 100980.0,
 91338.0,
 101442.0,
 96060.0,
 48078.0,
 93354.0,
 93354.0,
 72510.0,
 87006.0,
 48078.0,
 72510.0,
 72510.0,
 88344.0,
 48078.0,
 90024.0,
 93354.0,
 53076.0,
 90024.0,
 80016.0,
 48078.0,
 100980.0,
 68616.0,
 93354.0,
 94122.0,
 96060.0,
 90024.0,
 87006.0,
 91338.0,
 93354.0,
 84054.0,
 93354.0,
 93354.0,
 100980.0,
 90024.0,
 84054.0,
 90024.0,
 87006.0,
 87006.0,
 48078.0,
 76266.0,
 96060.0,
 84054.0,
 72510.0,
 91338.0,
 87006.0,
 48078.0,
 72510.0,
 87006.0,
 87006.0,
 90024.0,
 87006.0,
 90024.0,
 120252.0,
 107988.0,
 90024.0,
 84054.0,
 76266.0,
 93354.0,
 70092.0,
 48078.0,
 91338.0,
 127692.0,
 170112.0,
 87006.0,
 93354.0,
 70644.0,
 90024.0,
 96060.0,
 87006.0,
 87006.0,
 93354.0,
 84054.0,
 93354.0,
 87006.0,
 90024.0,
 103932.0,
 93354.0,
 90024.0,
 87006.0,
 48078.0,
 93354.0,
 48078.0,
 87006.0,
 102672.0,
 87006.0,
 107988.0,
 72510.0,
 68616.0,
 66948.0,
 111252.0,
 107988.0,
 94524.0,
 76266.0,
 40392.0,
 96060.0,
 93354.0,
 104628.0,
 101442.0,
 111474.0,
 103932.0,
 96060.0,
 48078.0,
 90024.0,
 96060.0,
 87006.0,
 84054.0,
 100980.0,
 72510.0,
 76266.0,
 87006.0,
 90024.0,
 43800.0,
 93354.0,
 90024.0,
 93354.0,
 76266.0,
 84054.0,
 104628.0,
 90024.0,
 91080.0,
 100980.0,
 48078.0,
 48078.0,
 90024.0,
 111474.0,
 87006.0,
 97440.0,
 101442.0,
 76266.0,
 87006.0,
 84054.0,
 84054.0,
 48078.0,
 72510.0,
 48078.0,
 87006.0,
 90024.0,
 70092.0,
 48078.0,
 87006.0,
 72510.0,
 104628.0,
 90024.0,
 93354.0,
 91338.0,
 87006.0,
 48078.0,
 48078.0,
 104628.0,
 87006.0,
 80016.0,
 84054.0,
 68616.0,
 48078.0,
 100980.0,
 84054.0,
 80016.0,
 104628.0,
 76266.0,
 94524.0,
 76266.0,
 84054.0,
 84054.0,
 72510.0,
 111474.0,
 84054.0,
 104628.0,
 111474.0,
 91338.0,
 48078.0,
 76266.0,
 48078.0,
 48078.0,
 48078.0,
 72510.0,
 76266.0,
 93354.0,
 111192.0,
 93354.0,
 98052.0,
 127692.0,
 97440.0,
 103932.0,
 94122.0,
 103932.0,
 48078.0,
 90024.0,
 87006.0,
 104628.0,
 76266.0,
 90024.0,
 93354.0,
 48078.0,
 90024.0,
 67464.0,
 84054.0,
 91338.0,
 111492.0,
 68616.0,
 84054.0,
 48078.0,
 72510.0,
 84054.0,
 87006.0,
 107988.0,
 98052.0,
 87006.0,
 94122.0,
 127692.0,
 48078.0,
 48078.0,
 84054.0,
 100980.0,
 90024.0,
 90024.0,
 84054.0,
 87006.0,
 90024.0,
 93354.0,
 87006.0,
 87006.0,
 103932.0,
 72510.0,
 96060.0,
 48078.0,
 136170.0,
 93354.0,
 93354.0,
 48078.0,
 104628.0,
 84054.0,
 96060.0,
 104628.0,
 98052.0,
 104628.0,
 93354.0,
 48078.0,
 93354.0,
 96060.0,
 90024.0,
 97440.0,
 90024.0,
 87006.0,
 48078.0,
 96060.0,
 48078.0,
 72510.0,
 103932.0,
 93354.0,
 111474.0,
 84054.0,
 84054.0,
 84054.0,
 93354.0,
 48078.0,
 87006.0,
 87006.0,
 90024.0,
 94524.0,
 76266.0,
 48078.0,
 94122.0,
 93354.0,
 80016.0,
 48078.0,
 93300.0,
 93354.0,
 48078.0,
 72510.0,
 76266.0,
 93354.0,
 90024.0,
 96060.0,
 84054.0,
 40392.0,
 107988.0,
 87006.0,
 84054.0,
 87006.0,
 90024.0,
 87006.0,
 48078.0,
 84054.0,
 87006.0,
 72510.0,
 70092.0,
 84054.0,
 84054.0,
 107988.0,
 48078.0,
 48078.0,
 84054.0,
 48078.0,
 87006.0,
 72510.0,
 84054.0,
 87006.0,
 84054.0,
 90024.0,
 90024.0,
 93354.0,
 72510.0,
 90024.0,
 87006.0,
 72510.0,
 84054.0,
 90024.0,
 87006.0,
 90024.0,
 84054.0,
 48078.0,
 101592.0,
 87006.0,
 87006.0,
 84054.0,
 88296.0,
 90024.0,
 48072.0,
 87006.0,
 87006.0,
 129096.0,
 87006.0,
 90024.0,
 96060.0,
 68616.0,
 103932.0,
 90024.0,
 93354.0,
 48078.0,
 93354.0,
 93354.0,
 76266.0,
 87006.0,
 48078.0,
 84054.0,
 40392.0,
 48078.0,
 80016.0,
 84054.0,
 93354.0,
 48078.0,
 87006.0,
 96060.0,
 87006.0,
 48078.0,
 73440.0,
 87006.0,
 90024.0,
 90024.0,
 68616.0,
 48078.0,
 127692.0,
 103932.0,
 104628.0,
 96060.0,
 107988.0,
 68616.0,
 84054.0,
 72510.0,
 91338.0,
 84054.0,
 61464.0,
 67464.0,
 94122.0,
 93354.0,
 72510.0,
 87006.0,
 84054.0,
 93354.0,
 90024.0,
 111474.0,
 87006.0,
 76266.0,
 84054.0,
 90024.0,
 67464.0,
 93354.0,
 48078.0,
 56568.0,
 94122.0,
 90024.0,
 104628.0,
 101442.0,
 100980.0,
 48078.0,
 93354.0,
 93354.0,
 70092.0,
 93354.0,
 93354.0,
 87006.0,
 93354.0,
 87006.0,
 48078.0,
 90024.0,
 91338.0,
 111474.0,
 48078.0,
 87006.0,
 87006.0,
 94524.0,
 162684.0,
 48078.0,
 88296.0,
 84054.0,
 76266.0,
 97440.0,
 68616.0,
 68616.0,
 107988.0,
 91338.0,
 48078.0,
 84054.0,
 84054.0,
 48078.0,
 104628.0,
 104628.0,
 76266.0,
 90024.0,
 90024.0,
 87006.0,
 48078.0,
 87006.0,
 94122.0,
 94122.0,
 72510.0,
 93354.0,
 48078.0,
 104628.0,
 93354.0,
 48078.0,
 93354.0,
 76266.0,
 100980.0,
 93354.0,
 90024.0,
 96060.0,
 93354.0,
 90024.0,
 87006.0,
 87006.0,
 90024.0,
 48078.0,
 77520.0,
 48078.0,
 96060.0,
 48078.0,
 103932.0,
 80016.0,
 96060.0,
 87006.0,
 68616.0,
 84054.0,
 87006.0,
 136170.0,
 72510.0,
 120252.0,
 40392.0,
 80016.0,
 93354.0,
 84054.0,
 98052.0,
 93354.0,
 68616.0,
 87006.0,
 96060.0,
 87006.0,
 107988.0,
 127692.0,
 96060.0,
 58248.0,
 84054.0,
 87006.0,
 87006.0,
 93354.0,
 97440.0,
 84054.0,
 90024.0,
 87006.0,
 48078.0,
 90024.0,
 84054.0,
 93354.0,
 90024.0,
 96060.0,
 104628.0,
 91080.0,
 94524.0,
 87006.0,
 103932.0,
 96060.0,
 93354.0,
 40392.0,
 46152.0,
 87006.0,
 120252.0,
 76266.0,
 80016.0,
 76266.0,
 84054.0,
 48078.0,
 103932.0,
 90024.0,
 76266.0,
 100980.0,
 107988.0,
 84054.0,
 48078.0,
 93354.0,
 90024.0,
 84054.0,
 87006.0,
 87006.0,
 111474.0,
 87006.0,
 90024.0,
 94524.0,
 96060.0,
 96060.0,
 104628.0,
 87006.0,
 72510.0,
 94524.0,
 84054.0,
 84054.0,
 48078.0,
 76266.0,
 76266.0,
 76266.0,
 84054.0,
 107988.0,
 90024.0,
 90024.0,
 48078.0,
 87006.0,
 96060.0,
 84054.0,
 107988.0,
 87006.0,
 93354.0,
 93354.0,
 93354.0,
 93354.0,
 58248.0,
 100980.0,
 90024.0,
 48078.0,
 87006.0,
 103932.0,
 111474.0,
 104628.0,
 96060.0,
 96060.0,
 97440.0,
 90024.0,
 93354.0,
 90024.0,
 93354.0,
 90024.0,
 101442.0,
 87006.0,
 87006.0,
 84054.0,
 127692.0,
 111474.0,
 56004.0,
 93354.0,
 90024.0,
 90024.0,
 104628.0,
 107988.0,
 90024.0,
 84054.0,
 97440.0,
 48078.0,
 90024.0,
 48078.0,
 84054.0,
 90024.0,
 72510.0,
 101442.0,
 94122.0,
 72510.0,
 87006.0,
 72510.0,
 93354.0,
 100980.0,
 90024.0,
 100980.0,
 87006.0,
 96060.0,
 87006.0,
 40392.0,
 111474.0,
 100980.0,
 73992.0,
 87006.0,
 40392.0,
 104628.0,
 90024.0,
 93354.0,
 100980.0,
 104628.0,
 87006.0,
 72510.0,
 76266.0,
 111474.0,
 87006.0,
 90024.0,
 48078.0,
 123894.0,
 87006.0,
 48078.0,
 90024.0,
 104628.0,
 84054.0,
 123894.0,
 87006.0,
 52176.0,
 84054.0,
 90024.0,
 90024.0,
 96060.0,
 87006.0,
 93354.0,
 93354.0,
 107988.0,
 98052.0,
 97440.0,
 84054.0,
 90024.0,
 162684.0,
 90024.0,
 93354.0,
 90024.0,
 84054.0,
 90024.0,
 48078.0,
 68616.0,
 104628.0,
 68616.0,
 87006.0,
 104628.0,
 90024.0,
 84054.0,
 90024.0,
 72510.0,
 170112.0,
 90024.0,
 111474.0,
 93354.0,
 48078.0,
 90024.0,
 98052.0,
 90024.0,
 87006.0,
 48078.0,
 90024.0,
 84054.0,
 93354.0,
 93354.0,
 93354.0,
 90024.0,
 90024.0,
 100980.0,
 123894.0,
 48078.0,
 84054.0,
 84054.0,
 93354.0,
 107988.0,
 72510.0,
 90024.0,
 100980.0,
 100980.0,
 104628.0,
 87006.0,
 90024.0,
 111474.0,
 103932.0,
 84054.0,
 93354.0,
 84054.0,
 84054.0,
 111474.0,
 93354.0,
 90024.0,
 97440.0,
 93354.0,
 84054.0,
 111474.0,
 96060.0,
 100980.0,
 90024.0,
 87006.0,
 48078.0,
 48078.0,
 87006.0,
 87006.0,
 87006.0,
 90024.0,
 104628.0,
 56004.0,
 100980.0,
 90024.0,
 90024.0,
 93354.0,
 96060.0,
 93354.0,
 90024.0,
 93354.0,
 90024.0,
 98052.0,
 84054.0,
 90024.0,
 48078.0,
 107988.0,
 87006.0,
 87006.0,
 90024.0,
 87006.0,
 87006.0,
 96060.0,
 80016.0,
 90024.0,
 76266.0,
 120252.0,
 97440.0,
 104628.0,
 68616.0,
 90024.0,
 84054.0,
 48078.0,
 76266.0,
 120252.0,
 90024.0,
 76266.0,
 90024.0,
 90024.0,
 77520.0,
 48078.0,
 48078.0,
 93354.0,
 91338.0,
 98052.0,
 76266.0,
 90024.0,
 93354.0,
 94122.0,
 97440.0,
 87006.0,
 48078.0,
 87006.0,
 93354.0,
 72510.0,
 93354.0,
 104628.0,
 104628.0,
 87006.0,
 76266.0,
 84054.0,
 72510.0,
 87006.0,
 93354.0,
 68616.0,
 90024.0,
 98052.0,
 111474.0,
 93354.0,
 100980.0,
 48078.0,
 87006.0,
 90024.0,
 48078.0,
 90024.0,
 50676.0,
 93354.0,
 96060.0,
 87006.0,
 87006.0,
 127692.0,
 84054.0,
 93354.0,
 87006.0,
 90024.0,
 107988.0,
 90024.0,
 107988.0,
 104628.0,
 170112.0,
 87006.0,
 68616.0,
 93354.0,
 87006.0,
 76266.0,
 90024.0,
 76266.0,
 94524.0,
 72510.0,
 84054.0,
 40392.0,
 87006.0,
 87006.0,
 127692.0,
 90024.0,
 48078.0,
 48078.0,
 87006.0,
 120252.0,
 96060.0,
 76266.0,
 48078.0,
 96060.0,
 90024.0,
 104628.0,
 127692.0,
 63876.0,
 96060.0,
 123894.0,
 111474.0,
 91338.0,
 84054.0,
 96060.0,
 111474.0,
 90024.0,
 84054.0,
 48078.0,
 93354.0,
 76266.0,
 97440.0,
 90024.0,
 84054.0,
 93354.0,
 84054.0,
 48078.0,
 93354.0,
 123894.0,
 84054.0,
 96060.0,
 96060.0,
 72510.0,
 48078.0,
 93354.0,
 100980.0,
 93354.0,
 90024.0,
 84054.0,
 76266.0,
 88296.0,
 94122.0,
 87006.0,
 87006.0,
 90024.0,
 100980.0,
 48078.0,
 90024.0,
 107988.0,
 87006.0,
 87006.0,
 93354.0,
 72510.0,
 93354.0,
 68616.0,
 68616.0,
 103932.0,
 87006.0,
 90024.0,
 90024.0,
 104628.0,
 96060.0,
 94122.0,
 103932.0,
 48078.0,
 84054.0,
 87006.0,
 88296.0,
 48078.0,
 87006.0,
 84054.0,
 93354.0,
 100980.0,
 48078.0,
 120252.0,
 94122.0,
 68616.0,
 90024.0,
 90024.0,
 111474.0,
 111474.0,
 90024.0,
 90024.0,
 96060.0,
 107988.0,
 111474.0,
 68616.0,
 90024.0,
 84054.0,
 87006.0,
 48078.0,
 48078.0,
 87006.0,
 84054.0,
 ...]

In [18]:
mu = 86000
t_test=ttest_1samp(s2, mu,alternative='greater' )
t_test

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0010301701775482569)

### el pvalue = 0,001 es inferior a 0,05 damos por valido la hipotesis del h1 
### h1 reta a h0 
### h1 dice que su hipotesis es mayor que que h0, de ahi el alternative = greater
0,001<0.05

Using the `crosstab` function, find the department that has the most hourly workers.

In [19]:
crosstab = pd.crosstab(index=salaries.Department, columns=salaries[salaries['Salary or Hourly']=='Hourly']['Salary or Hourly'])
crosstab

Salary or Hourly       Hourly
Department
ANIMAL CONTRL              19
AVIATION                 1082
BUDGET & MGMT               2
BUSINESS AFFAIRS            7
CITY COUNCIL               64
COMMUNITY DEVELOPMENT       4
CULTURAL AFFAIRS            7
FAMILY & SUPPORT          287
FINANCE                    44
FIRE                        2
GENERAL SERVICES          765
HEALTH                      3
HUMAN RESOURCES             4
LAW                        40
MAYOR'S OFFICE              8
OEMC                     1273
POLICE                     10
PROCUREMENT                 2
PUBLIC LIBRARY            299
STREETS & SAN            1862
TRANSPORTN                725
WATER MGMNT              1513

###  ORDENAR POR ASCENDENTE/DESCENTE

In [20]:
crosstab.Hourly.sort_values(ascending=False)

Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
FIRE                        2
PROCUREMENT                 2
BUDGET & MGMT               2
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [21]:
s3 = salaries['Hourly Rate'][(salaries.Department == 'STREETS & SAN')&(salaries['Salary or Hourly']=='Hourly')]

In [22]:
s3

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [23]:


t_test=ttest_1samp(s3, 35,alternative='less' )

t_test

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21)

### h1 los trabajadores por horas dicen que la media de hora es menor de 35 de ahi alternative = 'less'
### el pvalue es inferior a 0.05 por lo tanto nos quedamos con la hipotesis h1
## pvalue es el porcentaje que falta para que la hipotesis h1 se cumpla en el 100% real
### cuando pvalue es 0.05 admites que hay un 5% de la probabilidad de la hipotesis sea 100% cierta

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [24]:
from scipy.stats import sem 
from scipy.stats import norm
from scipy.stats import t

In [25]:
### 'In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. '
### UTILIZAMOS hourly rate debido a a que te pide la media de salario por horas de los trabajadores por horas


t.interval(0.95, len(hours['Hourly Rate'])-1, loc=hours['Hourly Rate'].mean(), scale=sem(hours['Hourly Rate']))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [28]:
t.interval(0.95, len(s2)-1, loc=salaries[(salaries.Department == 'POLICE')&(salaries['Salary or Hourly']=='Salary')]['Annual Salary'].mean(), scale=sem(s2))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [29]:
from statsmodels.stats.proportion import proportions_ztest

In [31]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [32]:
proportions_ztest(salaries['Salary or Hourly'].value_counts()[1], len(salaries), 0.25)

(-3.5099964213703005, 0.0004481127249057967)

### La proporcion entre asalariados y trabajadores por horas es del 25%?