# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

print(salaries['Typical Hours'].nunique(), "unique values from Typycal Hours of: ", 
      salaries['Typical Hours'].value_counts())

print("")

print(salaries['Hourly Rate'].nunique(), "unique values from Hourly Rate of: ", 
      salaries['Hourly Rate'].value_counts())

4 unique values from Typycal Hours of:  40.0    5833
20.0    1901
10.0     184
35.0     104
Name: Typical Hours, dtype: int64

167 unique values from Hourly Rate of:  35.60    1415
40.20     781
36.21     626
19.86     418
46.10     306
         ...
42.25       1
32.59       1
49.52       1
28.00       1
35.43       1
Name: Hourly Rate, Length: 167, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

print(salaries.Department.unique())

salaries.groupby(['Department'])['Name'].count()

['POLICE' 'GENERAL SERVICES' 'WATER MGMNT' 'OEMC' 'CITY COUNCIL'
 'AVIATION' 'STREETS & SAN' 'FIRE' 'FAMILY & SUPPORT' 'PUBLIC LIBRARY'
 'TRANSPORTN' "MAYOR'S OFFICE" 'HEALTH' 'BUSINESS AFFAIRS' 'LAW' 'FINANCE'
 'CULTURAL AFFAIRS' 'COMMUNITY DEVELOPMENT' 'PROCUREMENT' 'BUILDINGS'
 'ANIMAL CONTRL' 'CITY CLERK' 'BOARD OF ELECTION' 'DISABILITIES'
 'HUMAN RESOURCES' 'DoIT' 'BUDGET & MGMT' 'TREASURER' 'INSPECTOR GEN'
 'HUMAN RELATIONS' 'COPA' 'BOARD OF ETHICS' 'POLICE BOARD' 'ADMIN HEARNG'
 'LICENSE APPL COMM']

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [ ]:
# H0 = u = k
# H1 = U != K

In [65]:
sal=salaries['Hourly Rate'].fillna(0)
             
sal2=[]
for i in sal:
    if i != 0:
        sal2.append(i)

In [66]:
from scipy.stats import ttest_1samp

t_test=ttest_1samp(sal2, 30, alternative='two-sided')

t_test

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [70]:
umbral = 0.05

# umbral > p_value , rechazamos H0, es decir, hay diferencias significativas entre el precio/hora y el valor estipulado de 30

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
# H0 = u <= k
# H1 = U > K

In [74]:
sal=salaries[salaries['Department'] == 'POLICE']['Annual Salary'].fillna(0)
sal2=[]
for i in sal:
    if i != 0:
        sal2.append(i)

In [76]:
from scipy.stats import t
import math

n=len(sal2)

dof= n-1

mu=86000

mu_hat=sum(sal2)/n

std_hat=np.std(sal2)

t_test = (mu_hat - mu)/(std_hat/np.sqrt(n))

p_value=(t(df=dof).cdf(t_test))

1-p_value

0.0010297726418136977

In [77]:
umbral = 0.05

# umbral > p_value , podemos rechazar H0, es decir, el salario es mayor de 86000

Using the `crosstab` function, find the department that has the most hourly workers.

In [79]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [92]:
salaries[salaries['Salary or Hourly'] == 'Hourly']['Department'].value_counts()

STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
BUSINESS AFFAIRS            7
CULTURAL AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
PROCUREMENT                 2
FIRE                        2
BUDGET & MGMT               2
Name: Department, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# H0 = u >= k
# H1 = U < K

In [93]:
# Your code here:

sal=salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate'].fillna(0)
sal2=[]
for i in sal:
    if i != 0:
        sal2.append(i)

n=len(sal2)

dof= n-1

mu=35

mu_hat=sum(sal2)/n

std_hat=np.std(sal2)

t_test = (mu_hat - mu)/(std_hat/np.sqrt(n))

p_value=(t(df=dof).cdf(t_test))

p_value

1.6298535724253775e-21

In [94]:
umbral = 0.05

# umbral > p_value , podemos rechazar H0, es decir, se gana mas de 35 dolares por hora

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [95]:
# Your code here:
from scipy.stats import sem 

sal=salaries['Hourly Rate'].fillna(0)
             
sal2=[]
for i in sal:
    if i != 0:
        sal2.append(i)

n=len(sal2)
sal2mean= sum(sal2)/n
        
t.interval(0.95, n-1, loc=sal2mean, scale=sem(sal2))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [96]:
# Your code here:

sal=salaries[salaries['Department'] == 'POLICE']['Annual Salary'].fillna(0)
sal2=[]
for i in sal:
    if i != 0:
        sal2.append(i)


n=len(sal2)
sal2mean= sum(sal2)/n
        
t.interval(0.95, n-1, loc=sal2mean, scale=sem(sal2))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [110]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [116]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

proportions_ztest(salaries['Salary or Hourly'].value_counts()[1], len(salaries), 0.25) # se pone el porcentaje y se compara luego el pvalue

(-3.5099964213703005, 0.0004481127249057967)

H0 -> p=25
H1 => P!=25

umbral = 0.05

umbral > pvalue, se rechaza H0, por lo que hay diferencias significativas entre la proporción real y la esperada (la proporción es de 24, que se aleja de 25)

In [122]:
proportions_ztest(salaries['Salary or Hourly'].value_counts()[1], len(salaries), 0.2417)

(0.021398476813238733, 0.9829277886154584)