# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [40]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [41]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [42]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [43]:
# Your code here:
salaries.info(memory_usage ='Deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [44]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [45]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

%matplotlib inline
%pip install statsmodels

In [46]:
import pylab as plt
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import ttest_1samp
from statsmodels.stats import weightstats as w
from scipy.stats import ttest_rel  # testeo con dos muestras dependientes
from scipy.stats import ttest_ind  # testeo con dos muestras independientes
from scipy.stats import shapiro
from sklearn.preprocessing import StandardScaler
from scipy.stats import sem
from statsmodels.stats.proportion import proportions_ztest

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [110]:
m = salaries['Hourly Rate'].mean()
m

32.78855771628128

In [111]:
s = salaries['Hourly Rate'].std()
s

12.11257268427681

In [112]:
shapiro(salaries['Hourly Rate'].value_counts())

ShapiroResult(statistic=0.322934627532959, pvalue=1.41668167449033e-24)

In [116]:
# Your code here:
mu = 30   # media poblacional

mu_hat = m   # media muestral, media del estudio

std_hat = s  # std muestra, std del estudio

n = 8022   # tamaño de la muestra

dfo = n-1

In [117]:
t_test = (mu_hat - mu)/(std_hat/np.sqrt(n))

t_test

20.619805785501907

In [124]:
p_value = t(dfo).cdf(t_test)

p_value

1.0

In [68]:
pacientes=np.random.normal(mu_hat, std_hat, n)

pacientes[:10]

array([ -26.80746484,  155.42672352,  445.19601678,   -1.00179251,
         99.31856096,  212.20773217,  -29.16247766,  -12.31311346,
       -300.77193404,   78.94822837])

In [69]:
t_test=ttest_1samp(pacientes, mu)

t_test

Ttest_1sampResult(statistic=12.889846418224316, pvalue=1.2120845002236079e-37)

In [70]:
t_test.pvalue

1.2120845002236079e-37

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [136]:
monos = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].mean()

86486.41450313339

In [144]:
# Your code here:
import scipy.stats as st

In [152]:
data = salaries[salaries['Department'] == 'POLICE']['Annual Salary']

In [161]:
st.t.interval(alpha=0.95, df=len(data)-1, loc=np.mean(data))

(86484.45436226958, 86488.3746439972)

Using the `crosstab` function, find the department that has the most hourly workers.

In [173]:
# Your code here:
pd.crosstab(salaries['Hourly Rate'], salaries.Department).max()

Department
ANIMAL CONTRL             16
AVIATION                 462
BUDGET & MGMT              2
BUSINESS AFFAIRS           6
CITY COUNCIL              15
COMMUNITY DEVELOPMENT      1
CULTURAL AFFAIRS           6
FAMILY & SUPPORT         206
FINANCE                   34
FIRE                       2
GENERAL SERVICES         169
HEALTH                     1
HUMAN RESOURCES            4
LAW                       39
MAYOR'S OFFICE             8
OEMC                     418
POLICE                     6
PROCUREMENT                1
PUBLIC LIBRARY            96
STREETS & SAN            626
TRANSPORTN               272
WATER MGMNT              451
dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [194]:
# Your code here:

sample = salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate']

sample.dropna()

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [201]:
sample

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [202]:
t_test = ttest_1samp(sample, 35)
t_test

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [209]:
m

32.78855771628128

In [213]:
local = salaries['Hourly Rate']
local.dropna()

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [216]:
local.dropna(inplace = True)

In [217]:
# Your code here:


t.interval(0.95, len(local)-1, loc = local.mean(), scale= sem(local))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [218]:
# Your code here:
monos

86486.41450313339

In [219]:
monkeys = salaries[salaries['Department'] == 'POLICE']['Annual Salary']
monkeys

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13414, dtype: float64

In [222]:
monkeys.dropna(inplace = True)

/var/folders/xg/zzygkq9d4ln987pzc4b_8sw40000gn/T/ipykernel_57166/3247224133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monkeys.dropna(inplace = True)

In [223]:
t.interval(0.95, len(monkeys)-1, loc = monkeys.mean(), scale= sem(monkeys))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [224]:
from statsmodels.stats.proportion import proportions_ztest

In [225]:
# Your code here:
salaries['cat'] = ['p' if i%2 else 'i' for i in range(len(salaries))]

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,cat
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN,i
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN,p
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN,i
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN,p
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86,i

In [227]:
salaries['cat'].value_counts()

i    16592
p    16591
Name: cat, dtype: int64

In [231]:
proportions_ztest(salaries['cat'].value_counts()[1], len(salaries), 0.05)

(163.94032467499986, 0.0)